<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034721187770-mhdo2uuv2naju1featevdtjinkvgbggl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034721187770-mhdo2uuv2naju1featevdtjinkvgbggl</string>
	<key>API_KEY</key>
	<string>AIzaSyAyeoySJ0lX6q_srbtJdXehbeANj4fkwyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1034721187770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.finance.ffAnalysis</string>
	<key>PROJECT_ID</key>
	<string>factfinder-3dec3</string>
	<key>STORAGE_BUCKET</key>
	<string>factfinder-3dec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034721187770:ios:7f19be85b7e6bf12</string>
	<key>DATABASE_URL</key>
	<string>https://factfinder-3dec3.firebaseio.com</string>
</dict>
</plist>
